<div class="container">
  {% if section.settings.heading != blank %}
  <h2 class="section-title">{{ section.settings.heading }}</h2>
  {% endif %}
   {% for block in section.blocks %}
   {% if block.settings.questions != blank %} 
  <h6>{{ block.settings.questions }}</h6>
   {% endif %}
   {% if block.settings.answer != blank %}
                       {{ block.settings.answer }}
                      {% endif %}
      {% endfor %}                

</div>


{% schema %}
{
  "name": "Ambessedor Program Policy",
  "tag": "section",
  "class": "ambessedor-program-policies",
  "settings": [
                {
                    "type": "text",
                    "label": "Heading",
                    "id": "heading"
                  }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
                    {
                    "type": "text",
                    "label": "Questions",
                    "id": "questions"
                  },
                  {
                    "type": "html",
                    "label": "Answer",
                    "id": "answer"
                  }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ambessedor Program Policy"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}