/*! CSS Used from: https://cdn.shopify.com/s/files/1/0255/3249/8001/t/151/assets/theme.css?v=7112453938754602241683122073 ; media=all */
.pages-contact-us {
    background: #e6f5ff;
}
@media all {
    *,*::before,*::after {
        box-sizing: border-box;
    }

    section {
        display: block;
    }

    h5 {
        margin-top: 0;
    }

    h5 {
        font-weight: 500;
    }

    p {
        margin-top: 0;
    }

    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    .container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        .container {
            max-width:546px;
        }
    }

    @media (min-width: 791px) {
        .container {
            max-width:770px;
        }
    }

    @media (min-width: 1025px) {
        .container {
            max-width:990px;
        }
    }

    @media (min-width: 1230px) {
        .container {
            max-width:1200px;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }

    .col-md {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (min-width: 791px) {
        .col-md {
            flex-basis:0;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    @media print {
        *,*::before,*::after {
            text-shadow: none!important;
            box-shadow: none!important;
        }

        a:not(.btn) {
            text-decoration: underline;
        }

        p {
            orphans: 3;
            widows: 3;
        }

        .container {
            min-width: 1025px!important;
        }
    }

    a {
        text-decoration: none;
        outline: none;
        color: #3f7ab9;
    }

    a:hover {
        outline: none;
        text-decoration: none;
        outline: none;
    }

    a:active,a:visited,a:focus {
        text-decoration: none;
        outline: none;
    }

    h5 {
        display: block;
        position: relative;
        font-family: 'Filson Pro', sans-serif;
        color: #3f7ab9;
        margin-bottom: 0px;
    }

    p {
        margin: 16px 0 0 0px;
    }

    @media (max-width: 575px) {
        p {
            margin:10px 0 0 0px;
        }
    }

    @media (max-width: 575px) {
        #tt-pageContent .container-fluid-custom-mobile-padding {
            padding-right:20px;
            padding-left: 20px;
        }
    }

    .tt-contact-col-list {
        margin-top: -51px;
    }

    .tt-contact-col-list .tt-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        padding-bottom: 15px;
    }

    .tt-contact-col-list div[class^="col"] {
        margin-top: 51px;
    }

    @media (max-width: 1024px) {
        .tt-contact-col-list div[class^="col"] {
            margin-top:42px;
        }
    }

    @media (max-width: 790px) {
        .tt-contact-col-list div[class^="col"] {
            margin-top:24px;
        }
    }

    @media (max-width: 1024px) {
        .tt-contact-col-list {
            margin-top:-42px;
        }
    }

    @media (max-width: 575px) {
        .tt-contact-col-list {
            margin-top:-25px;
        }
    }

    #tt-pageContent .shopify-section > .container-indent:not(.nomargin):not([class^="tt-offset"]) {
        margin-top: 52px;
    }

    @media (max-width: 1024px) {
        #tt-pageContent .shopify-section > .container-indent:not(.nomargin):not([class^="tt-offset"]) {
            margin-top:43px;
        }
    }

    @media (max-width: 575px) {
        #tt-pageContent .shopify-section > .container-indent:not(.nomargin):not([class^="tt-offset"]) {
            margin-top:33px;
        }
    }

    p {
        line-height: 26px!important;
    }

    @media (max-width: 789px) {
        p {
            margin:15px 0px!important;
        }
    }

    @media (min-width: 1000px) {
        p {
            margin:15px 0px!important;
        }
    }

    h5 {
        font-weight: 800!important;
    }

    h5 {
        font-family: FilsonProBold!important;
    }

    @media screen and (max-width: 999px) and (min-width:790px) {
        p {
            margin:15px 0px!important;
        }
    }
}

/*! CSS Used from: https://cdn.shopify.com/s/files/1/0255/3249/8001/t/151/assets/new_version.css?v=137501348986771515571683122059 ; media=all */
@media all {
    #tt-pageContent .shopify-section>.container-indent:not(.nomargin):not([class^="tt-offset"]).singletextblock,.contact-new .tt-contact-col-list.singletextblock__col-list .col-md.singletextblock__col-md,.tt-contact-col-list.singletextblock__col-list,.row.singletextblock__row {
        margin: 0;
    }

    .contact-new .container.container-fluid-custom-mobile-padding,.col-md.singletextblock__col-md {
        padding: 0!important;
    }

    .contact-new .container.container-fluid-custom-mobile-padding.singletextblock__container {
        padding: 65px 15px 50px!important;
        max-width: 530px!important;
    }

    .contact-new .singletextblock__title {
        font-size: 30px!important;
        line-height: 1.27!important;
        padding: 0!important;
        margin-bottom: 15px!important;
        letter-spacing: 0!important;
    }

    .contact-new .singletextblock__content p,.contact-new .singletextblock__content a {
        font-size: 16px!important;
        line-height: 1.5!important;
        margin: 0!important;
        transition: all .2s ease;
    }

    .contact-new .singletextblock__content a:hover {
        color: #2d68fe;
    }

    .shopify-section.contact-new .col-md.singletextblock__col-md .singletextblock__content p:not(:last-of-type) {
        margin-bottom: 15px!important;
    }

    #gorgias-contact-form-wrapper {
        background: #ffffff!important;
        padding: 30px 0 100px!important;
    }

    @media (max-width: 1024px) {
        #gorgias-contact-form-wrapper {
            padding:10px 0!important;
        }
    }
}

/*! CSS Used from: https://cdn.shopify.com/s/files/1/0255/3249/8001/t/151/assets/bundle.theme.css?v=53368361213710981751683122105 ; media=all */
@media all {
    *,:before,:after {
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
    }

    * {
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
    }

    iframe {
        max-width: 100%;
        vertical-align: middle;
    }

    a {
        background-color: transparent;
    }

    a:active,a:hover {
        outline: 0;
    }

    #tt-pageContent {
        overflow-x: hidden;
    }

    @media (max-width: 39.99rem) {
        #tt-pageContent iframe {
            vertical-align:baseline;
        }
    }
}

/*! CSS Used from: https://hiyahealth.gorgias.help/api/contact-form-loader.css */
#gorgias-contact-form-wrapper {
    position: relative;
    min-height: 710px;
}
