.pages-faqs-1 {
    background: #e6f5ff;
}

.faq-sec {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 0 30px;
}

.faq-sec .container {
    max-width: 1180px;
    margin-inline: auto;
}

.faq-sec h1,
.faq-sec h1+p {
    padding-inline: 15px !important;
}

.faq-sec h1+p {
    margin-bottom: 15px;
    margin-top: 13px;
}

.faq-sec h1 {
    color: #3a5caf;
    letter-spacing: 0px;
    font-size: 56px;
    line-height: 1.1em !important;
    font-family: "Filson Pro" !important;
    margin-top: 0;
    margin-bottom: 0;
}

.faq-sec .faq-wrapper {
    margin-top: 30px;
    padding-bottom: 0px;
}

.faq-sec .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #3a5caf;
    padding: 10px;
    cursor: pointer;
}

.faq-sec .faq {
    /* border-bottom: 1px solid rgba(221, 221, 221, 1);
     */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.pages-faqs-1 .faq-sec {
    padding: 0 0 0px;
}

.faq-sec h2 {
    margin: 0;
}

.faq-sec p {
    text-align: center;
    letter-spacing: 0;
}

.faq-sec .faq-answer {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #3a5caf;
}

.faq-sec .faq-answer p {
    background-color: white;
    margin: 0 !important;
    padding: 20px 25px;
    font-weight: 400 !important;
    font-size: 16px;
    overflow-wrap: break-word;
    color: #3f7ab9;
    line-height: 26px;
    text-align: left;
}

.faq-sec h3 {
    color: #3a5caf;
    text-align: left;
    font-family: Filson Pro;
    font-size: 20px !important;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 4px 0;
}

.faq-sec .faq-question.active img {
    transform: rotate(180deg);
}

.faq-sec .faq-question img {
    transition: transform 0.5s ease-out;
}

.faq-sec .image {
    display: flex;
    height: 100%;
    min-height: 28px;
    align-items: baseline;
}

.faq-sec .image img {
    object-fit: contain;
    width: 15px;
    min-width: 15px;
}

.faq-sec a.primary-btn.shop-btn {
    height: 70px;
    min-width: 202px;
    margin-inline: auto;
    margin-top: 30px;
    font-size: 20px;
}

.faq-sec h1 {
    font-size: 42px;
    line-height: 1.1em !important;
    font-family: "FilsonProbold" !important;
}

.faq-sec {
    margin-top: 77px;
    margin-bottom: 0 !important;
}

.faq-sec h3 {
    letter-spacing: 0.022em;
    padding-bottom: 0 !important;
}

.product-probiotic .faq-sec h1 {
    color: #3f7ab9;
}

.product-multivitamin .faq-sec a.primary-btn.shop-btn {
    margin-top: 5px;
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .faq-sec h3 {
        letter-spacing: 0.03em;
    }

    .product-probiotic .faq-sec .faq-question {
        padding: 13px 3px;
    }

    .product-probiotic .faq-sec {
        margin-top: 90px;
    }

    .product-probiotic .faq-sec h3 {
        margin: 0;
    }
  
    .product-multivitamin .faq-sec .container {
        padding-inline: 20px;
    }

    .product-multivitamin .faq-sec .faq {
        padding-inline: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .faq-sec h1 {
        line-height: 1.1em !important;
        font-size: 34px;
    }

    .faq-sec h1+p {
        margin-bottom: 15px;
        margin-top: 12px;
        letter-spacing: 0;
        font-size: 20px;
    }

    .faq-sec .faq-wrapper {
        margin-top: 33px;
    }
  
    .faq-sec h1 {
        font-size: 24px;
        line-height: 1.1em;
    }

    .faq-sec .container {
        padding-inline: 20px;
    }
  
    .product-multivitamin .faq-sec .container .faq-wrapper .faq {
        padding-inline: 10px;
    }
}

@media (max-width: 767px) {
    .faq-sec h1+p {
        padding-inline: 0 !important;
    }

    .faq-sec .container {
        padding: 0 2px !important;
    }
  
    .faq-sec h1 {
        font-size: 30px;
    }

    .faq-sec h1+p {
        font-size: 17px;
        margin-top: 21px !important;
    }

    .faq-sec .faq-wrapper {
        margin-top: 33px;
        padding-inline: 15px;
    }

    .faq-sec a.primary-btn.shop-btn {
        margin-top: 57px;
    }
  
    .product-probiotic .faq-sec {
        margin-bottom: 0 !important;
    }
  
    .faq-sec {
        margin-top: 30px;
    }

    .faq-sec h1 {
        font-size: 34px;
        font-family: "Filson Pro" !important;
    }
}