.ingredients-pros-sec a.primary-btn.shop-btn {
    height: 55px;
    margin-inline: auto;
    letter-spacing: 0;
    margin-left: 0;
    min-width: 202px;
    margin-inline: auto;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 0;
}

.product-multivitamin .ingredients-pros-sec a.primary-btn.shop-btn,
.product-probiotic .ingredients-pros-sec a.primary-btn.shop-btn {
    height: 70px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pages-eco-pack-1 .ingredients-pros-sec {
    padding: 30px 0 58px;
}

.ingredients-pros-sec {
    padding: 58px 0 80px;
}

.ingredients-pros-sec .container {
    max-width: 1180px;
    padding-inline: 25px;
    margin-inline: auto;
}

.pages-ingredients .ingredients-pros-sec .container {
    padding-inline: 6px;
}

.ingredients-pros-sec .box-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 0px;
}

.ingredients-pros-sec .box-wrapper .image {
    max-width: calc(50% - 20px);
}

.ingredients-pros-sec .box-wrapper .image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: table;
}

.ingredients-pros-sec .box-wrapper .content {
    max-width: 490px;
}

.ingredients-pros-sec .box-wrapper .content h2 {
    text-align: left;
    font-weight: 600 !important;
    max-width: 430px;
    letter-spacing: 0.03em;
    margin-top: 0;
}

#MainContent>section.ingredients-pros-main:nth-child(6) .ingredients-pros-sec .box-wrapper:nth-child(2) .content h2 {
    max-width: 330px;
}

.ingredients-pros-sec .box-wrapper .content p {
    margin-bottom: 20px;
}

.ingredients-pros-sec .box-wrapper .content img {
    width: 40px;
    height: 50px;
    display: table;
}

.pages-ingredient.ingredients-pros-sec {
    padding: 95px 0 80px;
}

.pages-ingredients .ingredients-pros-sec .box-wrapper .content {
    max-width: 552px;
}

.pages-ingredients .ingredients-pros-sec .box-wrapper .content p {
    letter-spacing: 0;
}

.pages-ingredients .ingredients-pros-sec .box-wrapper .content h2 {
    max-width: 100%;
    margin: 20px auto;
    color: #3d79b8;
}

.pages-ingredients .ingredients-pros-sec .box-wrapper:not(:last-child) {
    margin-bottom: 60px;
}

#shopify-section-template--14851192094801__353d8ba0-a15e-40c6-a668-7dd2240beaab .ingredients-pros-sec {
    padding: 60px 0;
}
/**/
/*
#MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec {
    padding: 40px 0 30px;
}*/

#MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec .content {
    padding-top: 45px;
}

.ingredients-pros-sec {
    padding: 0px 0 50px;
}

.pages-ingredients .ingredients-pros-sec {
    padding: 110px 0 50px;
}

.ingredients-pros-sec .box-wrapper .content {
    max-width: 530px;
}


#MainContent>section:nth-child(6)>section>div>div>div:nth-child(2) {
    margin-bottom: 0px;
}

#MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec .content h2 {
    margin-top: -20px;
}
/**/
/*#MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec {
    padding: 80px 0 30px;
    padding: 80px 0 1px;
}*/

.ingredients-pros-sec .box-wrapper .content h2 {
    margin: 20px 0;
}

.ingredients-pros-sec .box-wrapper .content img {
    max-width: 100% !important;
}

.ingredients-pros-sec .box-wrapper .content p {
    letter-spacing: 0;
}

section#shopify-section-template--14851192094801__a411d4ff-767a-47e6-b3d0-21e3d5b15a77 section.ingredients-pros-sec {
    background-color: transparent !important;
}

.product-multivitamin .ingredients-pros-sec .box-wrapper h2 {
    padding-bottom: 0 !important;
    font-size: 42px !important;
    max-width: 100% !important;
}

.product-multivitamin .ingredients-pros-sec a.primary-btn.shop-btn {
    margin-inline: auto;
}

.product-multivitamin .ingredients-pros-sec.primary-btn.shop-btn,
.product-probiotic .ingredients-pros-sec.primary-btn.shop-btn {
    margin-inline: auto;
    height: 70px;
    font-size: 20px;
}

body:not(.affiliate) .ingredients-pros-sec {
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  body:not(.affiliate) .ingredients-pros-sec {
    padding-bottom: 110px; 
}
}

/*
.product-multivitamin .ingredients-pros-sec,
.product-probiotic .ingredients-pros-sec {
    padding: 115px 0 60px;
}
*/
@media (min-width: 1024px){
    .pages-ingredients .ingredients-pros-sec .box-wrapper .content p {
        font-size: 18px !important;
    }

    .ingredients-pros-sec .box-wrapper .content img {
        width: auto;
    }
  
    #shopify-section-template--14851192094801__353d8ba0-a15e-40c6-a668-7dd2240beaab .ingredients-pros-sec .image {
        max-width: 70%;
    }

    #shopify-section-template--14851192094801__353d8ba0-a15e-40c6-a668-7dd2240beaab .ingredients-pros-sec .content {
        max-width: 30%;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .pages-eco-pack-1 .ingredients-pros-sec .container {
        padding-inline: 0px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content p {
        padding-right: 40px;
        letter-spacing: 0;
    }

    .pages-eco-pack-1 .ingredients-pros-sec {
        padding: 0px 0 58px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .image {
        max-width: calc(50% - 50px);
    }

    .ingredients-pros-sec .box-wrapper .image {
        max-width: calc(55% - 20px) !important;
        max-width: 63% !important;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content {
        max-width: 500px !important;
    }

    .pages-ingredients .ingredients-pros-sec {
        padding: 120px 0 70px;
    }
  
    .ingredients-pros-sec .box-wrapper .content {
        max-width: 500px;
    }

    .ingredients-pros-sec .box-wrapper {
        margin-bottom: 120px;
    }

    .ingredients-pros-sec .box-wrapper {
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;
        margin-bottom: 105px;
    }

    .ingredients-pros-sec a.primary-btn.shop-btn {
        height: 55px;
        margin-inline: auto;
        letter-spacing: 0;
        margin-left: 0;
        min-width: 202px;
        margin-inline: auto;
        margin-top: 30px;
        font-size: 20px;
        font-size: 17px;
        margin: 30px 0 0;
    }

    #MainContent section.ingredients-pros-main:nth-child(6) section.ingredients-pros-sec {
        padding: 0px;
    }

    .product-probiotic .ingredients-pros-sec .box-wrapper .content img {
        max-width: 100% !important;
        width: auto;
    }

    .product-probiotic .ingredients-pros-sec a.primary-btn.shop-btn {
        font-size: 20px;
    }
  
    .product-multivitamin .ingredients-pros-sec .box-wrapper {
        gap: 35px;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper .content {
        max-width: 455px;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper .image {
        max-width: calc(55% - 90px) !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .ingredients-pros-sec .box-wrapper:not(:last-child) {
        margin-bottom: 290px;
    }

    .ingredients-pros-sec .box-wrapper .content p {
        margin-bottom: 28px;
    }

    .ingredients-pros-sec .box-wrapper .content h2 {
        max-width: 430px;
    }

    .ingredients-pros-sec .box-wrapper .image {
        max-width: calc(65% - 20px);
    }

    .ingredients-pros-sec .box-wrapper .content {
        max-width: calc(36% - 14px);
    }
  
    .pages-eco-pack-1 .ingredients-pros-sec .container {
        padding-inline: 20px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content h2 {
        max-width: 215px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content p {
        padding-right: 0px;
        letter-spacing: 0;
        font-size: 20px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content {
        max-width: calc(39% - 17px);
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .image {
        max-width: calc(50% - 50px);
        position: relative;
        bottom: 90px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content {
        max-width: 340px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content h2 {
        font-size: 42px;
    }

    .pages-ingredients .ingredients-pros-sec {
        padding: 140px 0 80px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper:not(:last-child) {
        margin-bottom: 110px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content img {
        width: 79px;
        height: 50px;
    }
  
    .ingredients-pros-sec .box-wrapper {
        gap: 0;
    }

    .ingredients-pros-sec .box-wrapper .content,
    .ingredients-pros-sec .box-wrapper .image {
        max-width: 46%;
        flex: 0 0 46%;
    }

    .ingredients-pros-sec {
        padding: 197px 0 50px;
    }

    .ingredients-pros-sec .box-wrapper .content h2 {
        margin: 10px 0 20px !important;
        max-width: 100%;
        font-size: 24px;
        line-height: 1 !important;
    }

    .ingredients-pros-sec .box-wrapper .content p {
        font-size: 20px;
    }

    .ingredients-pros-sec .box-wrapper:not(:last-child) {
        margin-bottom: 80px;
    }

    .ingredients-pros-sec .box-wrapper .content img {
        width: 77px;
    }

    .ingredients-pros-sec a.primary-btn.shop-btn {
        font-size: 20px !important;
        letter-spacing: 0;
    }

    .product-probiotic .ingredients-pros-sec {
        padding: 115px 0 50px;
    }

    .product-probiotic .ingredients-pros-sec a.primary-btn.shop-btn {
        margin-inline: auto;
    }

    .product-probiotic .ingredients-pros-sec a.primary-btn.shop-btn {
        height: 70px;
        min-width: 202px;
    }

    .product-probiotic .ingredients-pros-sec {
        padding: 115px 0 50px;
        background: #eff9fe !important;
    }

    #MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec .content {
        padding-top: 70px;
    }
  
    .product-multivitamin .ingredients-pros-sec .box-wrapper h2 {
        font-size: 24px !important;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper:first-child {
        margin-bottom: 240px;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper:not(:first-child),
    .product-multivitamin .ingredients-pros-sec .box-wrapper:not(:last-child) {
        margin-bottom: 140px;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper .content img {
        object-fit: contain;
        object-position: left;
    }

    .product-multivitamin .ingredients-pros-sec .box-wrapper .image {
        max-width: 45% !important;
        flex: 0 0 45% !important;
    }
}
@media (max-width: 767px) {

    .ingredients-pros-sec .inner .box-wrapper:first-child {
        flex-direction: column;
        margin-bottom: 80px;
    }
  
    .products-kids-nightly-essentials .ingredients-pros-sec .inner .box-wrapper:first-child,
    .products-kids-nightly-essentials .ingredients-pros-sec .box-wrapper {
      margin-bottom: 0px;
    }

    .ingredients-pros-sec .box-wrapper:nth-child(2) {
        flex-direction: column;
    }

    .ingredients-pros-sec .box-wrapper .content {
        max-width: 100%;
    }

    .ingredients-pros-sec .box-wrapper .content img {
        margin-inline: auto;
    }

    .ingredients-pros-sec .box-wrapper .image {
        max-width: 100% !important;
    }
  
    .ingredients-pros-sec .box-wrapper .content .image img {
        margin-inline: auto;
        width: 100%;
        height: auto;
    }
  
    body.product-multivitamin:not(.products-kids-nightly-essentials) .ingredients-pros-sec .box-wrapper:nth-child(1) .content .image img,
    body.product-multivitamin:not(.products-kids-nightly-essentials) .ingredients-pros-sec .box-wrapper:nth-child(3) .content .image img{
      width: 115%;
      max-width: 115% !important;
      margin-left: -7.5%;
    }
  
    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content {
        max-width: 100%;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .content h2 {
        max-width: 100%;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper .image {
        bottom: 0;
        margin-bottom: 20px;
    }

    .pages-eco-pack-1 .ingredients-pros-sec .box-wrapper a.primary-btn.shop-btn {
        font-size: 17px;
        margin-inline: auto;
    }

    .pages-ingredients .ingredients-pros-sec {
        padding: 80px 0 80px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content {
        max-width: 100%;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content h2 {
        font-size: 36px;
        letter-spacing: 0;
        text-align:center;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .content p {
        font-size: 20px;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper .image img {
        width: 100%;
        height: 100%;
    }

    .pages-ingredients .ingredients-pros-sec .box-wrapper:not(:last-child) {
        margin-bottom: 80px;
    }
  
    .ingredients-pros-sec .box-wrapper .content {
        display: flex;
        flex-wrap: wrap;
    }

    .ingredients-pros-sec .box-wrapper .content>img {
        order: 1;
        flex: 1 1 100%;
    }

    .ingredients-pros-sec .box-wrapper .content>h2 {
        order: 2;
        flex: 1 1 100%;
        font-size: 28px;
        margin: 33px 0;
    }

    .ingredients-pros-sec .box-wrapper .content>p {
        order: 4;
        flex: 1 1 100%;
        font-size: 20px;
        margin: 30px 7px 35px;
    }

    .ingredients-pros-sec .box-wrapper:nth-child(2) .content>p {
        margin: 0px 7px 35px;
    }

    .ingredients-pros-sec .box-wrapper .content>div.image {
        order: 3;
        flex: 1 1 100%;
    }

    .ingredients-pros-sec .box-wrapper .content>a {
        order: 5;
        flex: 0 0 74.4%;
        font-size: 20px;
        display: inline;
        height: 74px;
        line-height: calc(1 + 1.6 / var(--font-body-scale));
    }
  
    #MainContent>section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec .box-wrapper .content {
        display: flex;
        flex-wrap: wrap;
    }

    #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>h2 {
        order: 1;
        flex: 1 1 100%;
        font-size: 28px;
        line-height: 1;
        margin: 26px 0 19px !important;
    }

    #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>p {
        order: 2;
        flex: 1 1 100%;
        font-size: 20px;
        margin: 0px 7px 35px;
    }

    #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>div.image {
        order: 3;
        flex: 1 1 100%;
    }

    .products-kids-nightly-essentials #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>h2 {
      order:2;
    }
    .products-kids-nightly-essentials #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>p {
      order:3;
    }
    .products-kids-nightly-essentials #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>div.image {
      order:1;
    }
  
    #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>div.image>img {
        width: 96%;
    }

    #MainContent>section.ingredients-pros-main:nth-child(7) .ingredients-pros-sec .box-wrapper .content>a {
        order: 4;
        flex: 0 0 74.4%;
        font-size: 20px;
        display: inline;
        height: 65px;
        line-height: calc(1 + 1.2 / var(--font-body-scale));
    }

    #MainContent>section.ingredients-pros-main:nth-child(6) .ingredients-pros-sec .box-wrapper .content h2 {
        margin-inline: auto !important;
        text-align: center !important;
        max-width: 50%;
        padding: 0 40px;
    }

    #MainContent>section.ingredients-pros-main:nth-child(6) .ingredients-pros-sec .box-wrapper .content h2 {
        padding: 0;
    }

    #MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec {
        padding: 10px 0 1px;
    }
    .products-kids-nightly-essentials #MainContent section.ingredients-pros-main:nth-child(7) section.ingredients-pros-sec {
        padding: 10px 0 60px;
    }
  
    .ingredients-pros-sec a.primary-btn.shop-btn {
        margin-inline: auto;
    }
  
    .product-probiotic .ingredients-pros-sec {
        background: #eff9fe !important;
        padding: 70px 0 50px;
    }
  
    .ingredients-pros-sec .box-wrapper:last-child {
        margin-bottom: 0;
    }
  
    .ingredients-pros-sec .box-wrapper .content > img {
      order: 1;
    }
  
    .ingredients-pros-sec .box-wrapper .content > h2 {
      order: 2;
        text-align:center;
    }
  
    .ingredients-pros-sec .box-wrapper .content > p {
      order:3;
    }
  
    .ingredients-pros-sec .box-wrapper .image {
        margin-bottom: 30px;
      order:4;
    }
  
    .product-multivitamin .ingredients-pros-sec .box-wrapper h2 {
        font-size: 24px !important;
    }
}