.st59{fill:#fff8e6;}

.product-multivitamin .pairs-great-with-sec {
    background-color: #fff8e6;
}

.pairs-great-with-sec {
    background-color: #fff8e6 !important;
    position: relative;
}

.pairs-great-with-sec h2:first-child {
    margin-bottom: 25px !important;
    font-size: 40px !important;
    font-family: "FilsonProbold" !important;
}

.product-multivitamin .pairs-great-with-sec h2:first-child {
    margin-bottom: 6px !important;
}

.pairs-great-with-sec .pair-box {
    max-width: 962px;
    margin-inline: auto;
    background: rgb(222, 252, 241) !important;
}

.pairs-great-with-sec .pair-box .inner .reviews-info h2 {
    padding: 10px 0 20px !important;
    text-align: left;
    font-family: 'FilsonProBold', sans-serif !important;
    font-size: 32px !important;
    letter-spacing: 0 !important;
}

.pairs-great-with-sec .pair-box .inner .reviews-info {
    padding-inline: 0px;
    padding-left: 10px
}

.pairs-great-with-sec .pair-box .inner .add-cart-part .form-group.select_box label {
    letter-spacing: 0;
    font-size: 14px;
    font-family: 'FilsonProBold', sans-serif;
    color: #3B79B8;
}

.pairs-great-with-sec .pair-box .inner .add-cart-part {
    max-width: 320px;
    flex: 0 0 320px;
}

.pairs_great_section .pairs_great_section_wrapper .pairs_great_content {
    padding-left: 20px;
}

.pairs-great-with-sec .pair-box .inner .add-cart-part {
    max-width: 300px;
    flex: 0 0 300px;
}

.pairs-great-with-sec .form-group select {
    background-image: url(https://cdn.shopify.com/s/files/1/0255/3249/8001/files/down_blue_arrow.png?v=1671082904) !important;
    width: 100%;
    background-position: 100% 100% !important;
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .pairs-great-with-sec .pair-box .inner .add-cart-part {
        max-width: 289px;
        flex: 0 0 289px;
    }
  
    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part .form-group.select_box {
        padding: 5px 15px 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pairs-great-with-sec .container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .pairs-great-with-sec h2:first-child {
        font-size: 32px !important;
        line-height: 38px !important;
        margin-bottom: 15px !important;
    }

    .pairs-great-with-sec {
        padding-top: 0;
        padding-bottom: 60px;
    }

    .pairs-great-with-sec .pair-box .inner {
        flex-wrap: wrap;
    }

    .pairs-great-with-sec .pair-box .inner .image {
        max-width: 110px;
        flex: 0 0 110px;
    }

    .pairs-great-with-sec .pair-box .inner .reviews-info {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .pairs-great-with-sec .pair-box .inner .add-cart-part {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .pairs-great-with-sec .pair-box .inner .add-cart-part form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        display: block;
    }

    .pairs-great-with-sec .pair-box .inner .add-cart-part form .select_box {
        max-width: 255px;
        font-size: 10px;
    }

    .pairs-great-with-sec .pair-box .inner .add-cart-part a.pairs_great_button {
        min-width: 230px;
        font-size: 12px;
        height: fit-content;
    }

    .pairs-great-with-sec .pair-box .inner .reviews-info {
        padding-inline: 0;
        max-width: 75%;
        flex: 0 0 62%;
    }

    .pairs-great-with-sec {
        padding-bottom: 60px;
        background-color: #fff8e6 !important;
    }

    .product-multivitamin .pairs-great-with-sec {
        margin-bottom: -7px;
    }

    .pairs-great-with-sec .pair-box .inner .reviews-info h2 {
        padding: 5px 0 5px !important;
    }
  
    .pairs-great-with-sec .pair-box .inner .add-cart-part .form-group.select_box {
        background: transparent;
        padding: 0px;
        border-radius: 10px;
        margin-bottom: 0px !important;
    }

    .pairs-great-with-sec .pair-box .inner .add-cart-part .form-group.select_box select {
        background: #FFF;
        padding: 9px 15px 8px 10px;
        border-radius: 10px;
        margin-bottom: 20px !important;
    }
  
    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part {
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    .product-multivitamin .pairs-great-with-sec .form-group select {
        background-position: 96% 50% !important;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part .form-group.select_box select {
        margin-bottom: 15px !important;
        padding: 10px 12px 10px 15px;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part form {
        align-items: flex-end;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part a.pairs_great_button {
        padding: 2.5px 8px;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .reviews-info h2 {
        font-size: 20px !important;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part form .select_box {
        max-width: 60%;
        max-width: 57%;
        max-width: 100%;
    }

    .product-multivitamin .pairs-great-with-sec .pair-box .inner .add-cart-part a.pairs_great_button {
        min-width: 35% !important;
        max-width: 100% !important;
        height:55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:23px;
        border-radius: 15px;
    }
}