.video-frame-sec {
    margin-top: 126px;
    margin-bottom: 80px;
}

.video-frame-sec h2 {
    margin-bottom: 49px !important;
}

.product-multivitamin .video-frame-sec h2 {
    padding-bottom: 0 !important;
    font-size: 42px !important;
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .video-frame-sec {
        margin-top: 145px;
        margin-bottom: 80px;
    }

    .video-frame-sec iframe {
        min-height: 277.03px;
        max-width: 492.5px;
        margin-inline: auto;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video-frame-sec h2 {
        margin-bottom: 49px !important;
        font-size: 42px !important;
    }

    .video-main {
        max-width: 364px;
    }

    .video-frame-sec iframe {
        min-height: 204px;
    }
}

@media (max-width: 767px) {
    .video-frame-sec h2 {
        font-size: 35px !important;
        letter-spacing: 0 !important;
    }

    .video-frame-sec {
        margin-top: 93px;
        margin-bottom: 80px;
    }

    .video-frame-sec .container {
        padding: 0 15px !important;
    }

    .video-frame-sec iframe {
        min-height: 306px;
    }
  
    .product-multivitamin .video-frame-sec h2 {
        font-size: 26px !important;
    }
}