{% include 'product-content.zipifypages', contentprt: 'header' %}{% section 'new_products' %}

{% section 'product-banner-sec-probiotic' %}

{% section 'how-we-stack-sec' %}

{% section 'makes_hiya_different_probiotic' %}

{% section 'image_with_content_sec_probiotic' %}

{% section 'probiotic-faq' %}

<div class="reviews_stamped">
  <div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
    {% include 'okendo-reviews-widget' %}
    </div>
  </div>
</div>

<div class="yellow-btn pb20btn">
  <a href="#MainContent" class="ybtn">Get Hiya</a>
</div>

<style>
.rc-container-wrapper ~ input#buy_now_new_button {
    opacity: 1;
}
input#buy_now_new_button {
    opacity: .5;
}
</style>

{{ 'unicode-converter.js' | asset_url | script_tag }}{% include 'product-content.zipifypages', contentprt: 'footer' %}